<!DOCTYPE html>

<html lang="en">

<script>
    window.Config = {
        "CoreInfo" : {{ CoreInfo | tojson }},
        "Basket" : {{ Basket.GetDict(JSON=True) | tojson }},
        "HostURL" : "{{HostURL}}",
        //
        "StaticPath" : "{{url_for('static', filename='')}}"
    };
</script>


<head>
    <!--INT-->    
    <!--STYLE SHEETS-->
    <link rel="stylesheet" href="{{url_for('static', filename='CSS/Shared.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='CSS/' + PageName + '.css')}}">

    <!--EXT-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">


    <!--MISC-->
    <link rel="icon" href="{{url_for('static', filename='Images/Icon.png')}}">
    <title>{{CoreInfo["Meta"]["Display Name"]}} | {{PageName}}</title>
</head>

<body>

    {% if RequestCount == 1 %}
        <div id="SplashScreenLoader" class="SplashScreenLoader"></div>
    {% endif %}

    <div class="ScrollingBackground"></div>

    <div class="Content" style="">
        <div class="bg-body-tertiary" style="width: 100%; padding-bottom: 10px;">
            <h1 class="text-center">{{PageName}}</h1>
        </div>

        <!--<footer class="text-lg-start bg-body-tertiary text-muted" style="position: fixed; width: 100%; bottom: 0; left: 0;">
            <div class="text-center">
                <p><b>NOTE: Total / Discount values may slightly vary to a degree due to rounding. Example: Instead of £0.95 you may get £0.94.</b></p>
            </div>
        </footer>-->

        <!--<br>-->
    </div>
</body>

<script type="module">
    // CORE
    import PageModule from "{{url_for('static', filename='JS/' + PageName + '.js')}}";

    let SplashScreenLoaderDiv = document.getElementById("SplashScreenLoader");

    // Functions
    // MECHANICS
    function RemoveSplashScreen() 
    {
        // Functions
        // INIT
        SplashScreenLoaderDiv.classList.add("SplashScreenLoader-Hidden");

        SplashScreenLoaderDiv.addEventListener("transitionend", () => { // CLEAN UP
            document.removeChild(SplashScreenLoaderDiv);
        });
    }

    // DIRECT
    document.addEventListener("DOMContentLoaded", () => {
        // Functions
        // INIT

        if (SplashScreenLoaderDiv != undefined) 
        {
            setTimeout(RemoveSplashScreen, 1000);
        }

        return PageModule.Initialise();
    });

    window.addEventListener("beforeunload", () => {
        // Functions
        // INIT

        return PageModule.End();
    });
</script>

</html>