/* SHOP TILE */
.ShopTile .card-img-top {
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.ShopTile:hover .card-img-top {
  transform: rotate(15deg) !important;
}

.ShopTile:hover .ShopTileCollapse {
    max-height: 500px;
    opacity: 1;
}

.ShopTile .card-body 
{
    overflow: hidden;
}

.ShopTile /* IS A BOOTSTRAP CARD */ 
{
    border-radius: 1rem;
}

.ShopTileCollapse {
    max-height: 0;
    opacity: 0;
    transition: max-height .75s ease, opacity 0.3s ease;
}

/* SHOP */
.ShopContainer 
{
  width: 70%;
  transition: width 1s;
}

.OpenShopContainer 
{
  width: 100%;
  transform-origin: 0% 0%;
}

.ShopGrid 
{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 265px));
  gap: 16px;
}

/* CHECKOUT */
.Checkout 
{
  width: 30%;
  max-width: 30%;
  transition: transform 1s ease;
  transform-origin: 100% 0%;
  transition: width 1s;
}


.CheckoutContent
{
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
}

.CloseCheckout 
{
  width: 0;
  transform-origin: 100% 0%;
}

.TableWrapper {
  flex: 1;
  max-height: 35%;
  overflow-y: auto;
  overflow-x: hidden;
}

.TableWrapper thead th 
{
  flex-shrink: 0;
  position: sticky;
  top: 0;
  z-index: 2;
  background: white;
}


