.Checkout 
{
  height: 100%;
  display: flex;
  flex-direction: column;
}


.TableWrapper {
  flex: 1;
  max-height: 35%;
  overflow-y: auto;
  overflow-x: hidden;
}

.TableWrapper thead th 
{
  flex-shrink: 0;
  position: sticky;
  top: 0;
  z-index: 2;
  background: white;
}