.ShopContainer 
{
  width: 70%;
  transition: width 1s;
}

.OpenShopContainer 
{
  width: 100%;
  transform-origin: 0% 0%;
}

.Checkout 
{
  width: 30%;
  max-width: 30%;
  transition: transform 1s ease;
  transform-origin: 100% 0%;
  transition: width 1s;
}

.CheckoutContent
{
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
}

.CloseCheckout 
{
  width: 0;
  transform-origin: 100% 0%;
}

.TableWrapper {
  flex: 1;
  max-height: 35%;
  overflow-y: auto;
  overflow-x: hidden;
}

.TableWrapper thead th 
{
  flex-shrink: 0;
  position: sticky;
  top: 0;
  z-index: 2;
  background: white;
}


