html, body {
  margin: 0;
  height: 100%;
}

body {
  position: relative;
  z-index: 0;
}

.ScrollingBackground {
    height: 100vh;
    background-repeat: repeat;
    background-size: cover;
    background-image: url("../Images/Background.png");
    animation: ScrollingBackground 45s linear infinite;
    position: absolute;
    inset: 0;
    z-index: 0;
}

.Checkout 
{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Content 
{
    position: relative;
    z-index: 1;
}

.TableWrapper {
  flex: 1;
  max-height: 35%;
  overflow-y: auto;
  overflow-x: hidden;
}

.TableWrapper thead th 
{
  flex-shrink: 0;
  position: sticky;
  top: 0;
  z-index: 2;
  background: white;
}

@keyframes ScrollingBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 2000px 2000px;
  }
}