html, body {
  margin: 0;
  height: 100%;
}

body {
  position: relative;
  z-index: 0;
}


.SplashScreenLoader 
{
    height: 100vh;
    width: 100vw;

    top: 0;
    left: 0;
    position: fixed;
    z-index: 100;
    display: flex;
    background-color: rgba(64, 64, 64, 1) !important;
    justify-content: center;
    align-items: center;

    transition: opacity 0.75s ease, visibility 0.75s ease;
}

.SplashScreenLoader::after 
{
    content:  "";
    width: 25vh;
    height: 25vh;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 5vh solid lightgrey;
    border-top-color: royalblue;

    z-index: 2;
    
    animation: Loading 0.75s ease infinite;
}

.SplashScreenLoader-Hidden 
{
    opacity: 0;
    visibility: hidden;
}

.ScrollingBackground {
    height: 100vh;
    background-repeat: repeat;
    background-size: cover;
    background-image: url('../Images/Background.png');
    background-blend-mode: lighten;
    background-color: rgb(240, 240, 240);
    animation: ScrollingBackground 45s linear infinite;
    position: absolute;
    inset: 0;
    z-index: 0;
}

.Content 
{
    position: relative;
    z-index: 1;
}

.btn {
    border: 3px solid black !important;
    transition: transform .15s ease !important;
    font-weight: bold !important;
    font-size: 125% !important;
    transform: scale(1);
}

.btn:hover {
    transform: scale(1.05);
}

.card-body 
{
    overflow: hidden;
}

.card 
{
    border: 3px, solid, black !important;
    border-radius: 1rem;
    
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}


.HoverCollapse {
    max-height: 0;
    opacity: 0;
    transition: max-height .75s ease, opacity 0.3s ease;
}

.card-img-top {
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.card:hover .card-img-top {
  transform: rotate(15deg) !important;
}

.card:hover .HoverCollapse {
    max-height: 500px;
    opacity: 1;
}

.card:hover {
    transform: translateY(-6px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

@keyframes Loading 
{
    from { transform: rotate(0turn) }
    to {transform: rotate(1turn) }
}

@keyframes ScrollingBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 2000px 2000px;
  }
}