<!-- MODULES -->
{% include "Components/Topbar.html" %}
{% include "Components/CheckoutBasket.html" %}

<!-- CORE -->
<script>
    
</script>


<body>
    <div class="Content">
        <div class="ShopContainer" id="ShopContainer" style="height: 100%; position: fixed; left: 0; overflow-y: scroll; padding-bottom: 10%; padding-top: 1.5%;">
            <div class="ShopGrid text-center" style="margin: auto; justify-content: center;">
                    {% for Product in Products %}

                        {% set ProductInfo = Product.GetDict() %}

                        <div class="" style="width: 100%; height: 100%;"> <!-- Parent frame to prevent all row from expanding & shrinking -->
                            <div class="GridTile ShopTile card shadow-md">
                                {% if ProductInfo.get("Offers", None) != None %}
                                    <div class="text-center" style="top: 0; z-index: 2; transform: translate(-50%, -50%) scale(150%);"><span class="badge bg-danger">SALE</span></div>
                                {% endif %}
                                
                                <img class="card-img-top" src="{{url_for('static', filename='Images/Products/' + ProductInfo['Name'] + '.png')}}" alt="Card image cap" style="padding: 2.5%; aspect-ratio: 1 / 1; width: 72.5%; object-fit: contain; margin: auto;">
                                <div class="card-body">
                                    <h4 class="text-center">{{ProductInfo["Name"]}}</h4>

                                    <h4 class="PriceTag text-center">{{Utilities.FormatMoney(ProductInfo["Price"])}}</h4>
                                    
                                    {% if ProductInfo.get("Offers", None) != None %}
                                        <br>
                                        <div class="row" style="width: 90%; margin: auto;">

                                            {% if ProductInfo.get("OfferFamily") != None %}
                                                <div class="col text-center" style="padding: 0;"><span class="badge text-bg-warning"><b>Mix & Match</b></span></div>
                                            {% endif %}

                                            {% for OfferName in ProductInfo["Offers"] %}
                                                <div class="col text-center" style="padding: 0;"><span class="badge text-bg-primary"><b>{{OfferName}}</b></span></div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}

                                    <div class="ShopTileCollapse">
                                        <hr>
                                        <div class="row text-center align-items-center" id="Product{{ProductInfo['Name']}}Quantity" style="width: 90%; margin: auto;">
                                            <div class="col" style="width: 30%; padding: 3%">
                                                <button name="subtract" class="btn btn-danger" style="width: 100%; height: 100%; padding: 0;">-</button>
                                            </div>
                                            <div class="col" style="width: 30%; padding: 3%;">
                                                <b name="Quantity"></b>
                                            </div>
                                            <div class="col" style="width: 30%; padding: 3%">
                                                <button name="add" class="btn btn-success" style="width: 100%; height: 100%; padding: 0;">+</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
</body>