<!-- MODULES -->
{% include "Handlers/Topbar.html" %}

<!-- CORE -->
<script>
    window.Config["Products"] = [];

    let ProductInfo, ItemsInBasket;

    {% for Product in Products %}

        ProductInfo = {{ Product.GetDict(JSON=True) | tojson }};
        ItemsInBasket = {{Basket.GetItemsFromName(Product["Name"], JSON=True) | tojson}};

        ProductInfo["ImportedQuantity"] = ItemsInBasket.length;

        window.Config["Products"].push(ProductInfo);
    {% endfor %}
</script>


<body>
    <div class="Checkout" id="UserBasketContainer" style="height: 100%; width: 30%; position: fixed; right: 0; display: block; background-color: white;">
        <h2 class="text-center" style="flex-shrink: 0;">🧺 Your basket</h2>
        <hr>

        <section class="TableWrapper" >
            <table id="UserBasketTable" class="table table-striped" style="width: 90%; margin: auto;">
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody style="overflow-y: scroll;">

                </tbody>
            </table>
        </section>


        <footer class="text-center" style="width: 100%; background-color: white; flex-shrink: 0; padding: 24px;">
            <hr>
            <h2 class="text-center">💰 Costs</h2>
            <h4 class="">Subtotal: {{CoreInfo["Currency"]["Prefix"]}} {{Costs["SubTotal"]}}</h4>
            <h4 class="">Discount: {{CoreInfo["Currency"]["Prefix"]}} -{{Costs["PriceReduction"]}}</h4>
            <br>    
            <h4 class="">Total: {{CoreInfo["Currency"]["Prefix"]}} {{Costs["Total"]}}</h4>

            <hr>

            <div>
                <form id="ResetBasketForm" class="text-center" action="ResetBasket" method="post" style="padding: 10px; display: inline-block;">
                    <input type="submit" class="btn btn-danger btn-lg" value="Reset"/>
                </form>
            
                <form id="UpdateBasketForm" class="text-center" action="UpdateBasket" method="post" style="padding: 10px; display: inline-block;">
                    <input type="submit" class="btn btn-secondary btn-lg" value="Update"/>
                </form>
            </div>
        </footer>
    </div>
    <div id="ShopContainter" style="height: 100%; width: 70%; position: fixed; left: 0; overflow-y: scroll; padding-bottom: 10%;">
        <div class="row">
            {% for Product in Products %}

                {% set ProductInfo = Product.GetDict() %}

                {% if loop.index0 is divisibleby(4) and not loop.first %}
                    </div>
                    <div class="row">
                {% endif %}

                <div class="col-2" style="margin: 1vh auto 1vh;">
                    <div class="card shadow-md">
                        <!--<div class="card-header text-center">
                            <h4>{# {{ ProductInfo["Name"] }} #}</h4>
                        </div>-->

                        <img class="card-img-top" src="{{url_for('static', filename='Images/Products/' + ProductInfo['Name'] + '.jpg')}}" alt="Card image cap" style="padding: 10%; aspect-ratio: 1 / 1; height: 20vh; object-fit: contain;">
                        <div class="card-body">
                            <h4 class="text-center">{{ProductInfo["Name"]}}</h4>

                            <h4 class="text-center" style="display: block; border-radius: 8px; background-color: lightgrey; min-width: 25%; max-width: 55%; margin: auto;">{{CoreInfo["Currency"]["Prefix"]}} {{ProductInfo["Price"]}}</h4>
                            
                            {% if ProductInfo.get("Offers", None) != None %}
                                <br>
                                <div class="row" style="width: 90%; margin: auto;">
                                    {% for OfferName in ProductInfo["Offers"] %}
                                        <div class="col text-center" style="padding: 0;"><span class="badge bg-primary"><b>{{OfferName}}</b></span></div>
                                    {% endfor %}
                                </div>
                            {% endif %}

                            <div class="HoverCollapse">
                                <hr>
                                <div class="row text-center align-items-center" id="Product{{ProductInfo['Name']}}Quantity" style="width: 90%; margin: auto;">
                                    <div class="col" style="width: 30%; padding: 3%">
                                        <button name="subtract" class="btn btn-danger" style="width: 100%; height: 100%; padding: 0;">-</button>
                                    </div>
                                    <div class="col" style="width: 30%; padding: 3%;">
                                        <b name="Quantity"></b>
                                    </div>
                                    <div class="col" style="width: 30%; padding: 3%">
                                        <button name="add" class="btn btn-success" style="width: 100%; height: 100%; padding: 0;">+</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</body>